

$light-color: rgb(255, 255, 255);
$medium-color: rgb(253, 253, 253);
$medium-dark-color: rgb(247, 247, 247);
$dark-color: rgb(112, 112, 112);
$text-color: rgb(34, 34, 34);
$theme-color: rgb(124, 109, 165);


$button-color-disbaled: rgba(124, 109, 165, 0.5);