$theme-color: rgb(31, 104, 143);;

// LIGHT THEME

$light-color: rgb(255, 255, 255);
$medium-color: rgb(253, 253, 253);
$medium-dark-color: rgb(247, 247, 247);
$dark-color: rgb(112, 112, 112);
$text-color: rgb(34, 34, 34);
$button-color-disbaled: rgb(31, 104, 143, 0.5);

$background-color: rgb(253, 253, 253);// rgb(240, 242, 245);// $medium-color;
$card-color: white; //$medium-color;

// DARK THEME


// $light-color: rgb(175, 179, 184);
// $medium-color: rgb(58, 59, 60);
// $medium-dark-color: rgb(36, 37, 38);
// $dark-color: rgb(24, 25, 26);

// $text-color: white;
// $button-color-disbaled: rgba(124, 109, 165, 0.5);

// $background-color: $dark-color;
// $card-color: $medium-dark-color;