@import "color";

.page {

    display: block;

    .form {
        display: block;
        color: $text-color;

        .button {
            margin-top: 5px;
        }

        select {
            width: 100%;
            height: 21px;
        }
    }
}
